{% extends "Layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Random Flix!</h1>
    <p class="lead">Navegue pelo menu lateral e encontre um filme para assistir hoje na Netflix</p>
        <hr class="my-4">
    <p>Este é um site de testes criado para a vaga de desenvolvedor PHP. <a class="btn btn-primary btn-lg" href="#" role="button">Repositório no GitHub</a></p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://market.mashape.com/community/netflix-roulette" role="button">API NetFlix Roulette</a>
    </p>
</div>
{% endblock %}